<section data-ng-controller="AllownersController">
        <table class="table table-striped table-bordered table-hover">
           <thead>
                <tr>
                    <th>
                        <h4>Owner</h4>
                    </th>
                    <th>
                        <h4>Draft Picks</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="owner in owners | orderBy:endRank" ng-click="editOwner(owner._id)">
                    <td>{{owner.name}}</td>
                    <td>{{owner.draftPicks}}</td>
                </tr>
            </tbody>
        </table>
</section>