<section data-ng-controller="ChatController"  data-ng-show="authentication.user">
<!--    <button class="btn btn-default" ng-Click="makeInitialBid()">InitialBid</button>-->
<!--    <button class="btn btn-default" ng-Click="addOwners()">Associate Users</button>-->
<!--    <button class="btn btn-default" ng-Click="updateOwnerId()">Associate Users</button>-->    
<!--    <button class="btn btn-default" ng-Click="iterateIndex()">Cycle Through Users</button>-->
    <button class="btn btn-default" ng-Click="resetBid()">Reset Bid</button>     
    <button class="btn btn-default" ng-Click="preDraft()">Pre Draft</button>     
    <button class="btn btn-default" ng-Click="rookieStart()">Rookie</button>     
    <button class="btn btn-default" ng-Click="activateAuction()">Auction</button>     
    <button class="btn btn-default" ng-Click="activateSnake()">Snake</button>         
<!--    <button class="btn btn-default" ng-Click="addHistory()">add History</button>         -->
    <br/>
    <button class="btn btn-default" ng-Click="goingOnce()">Going Once</button>  
    <button class="btn btn-default" ng-Click="goingTwice()">Going Twice</button>     
    <button class="btn btn-default" ng-Click="submitDraft()">Draft</button>  
    
<!--    {{draftEligable()}} {{myCap()}} {{mySlots()}} {{nomBool()}} {{snakeBool()}}-->
<!--
<br/>
    <br/>{{bids}}
-->
    <h1>{{endMsg}}</h1>
	<div class="row">
	    <div class="col-md-2 team">
            <h4>Auction Results</h4>            
            <table class="table table-striped table-border">
                <tr ng-repeat="item in history">
                   <td>
                        <b>{{item.player.name}}</b><br/>
                        {{item.owner.name}}<br/>
                        {{item.amount | currency}}                       
                   </td>
                </tr>
            </table>
	    </div>
	    <div class="col-md-5 midSection">
           <div ng-show="bids[0].auctionDraft">
                <h3>{{nomPlayer.name}}</h3>
                <h4>Current Bid: {{currentBid | currency}}</h4>
                <h5>(Bid Owner: {{currentBidder}})</h5>
                <b>Absolute Rank:</b> {{nomPlayer.startRank.absRank[1]}}&nbsp;&nbsp;&nbsp;
                <b>Position Rank:</b> ({{nomPlayer.position}}{{nomPlayer.startRank.posRank[1]}})<br/>
                <span class="goingStatus">{{adminMsg}}</span>               
                <div ng-show="draftEligable()">
                    <h4>Make a Bid</h4>
                    Enter Bid: <input type="number"
                           ng-model="myBid"> <button class="btn btn-default" ng-Click="submitBid()">Submit Bid</button><br/>
                    <span class="error">{{bidError}}</span><br/>
                    <b>Min Bid:</b> {{minBid | currency}}&nbsp;&nbsp;&nbsp;
                    <b>Max Bid:</b> {{myCap() | currency}}                
                </div>
                <div ng-hide="draftEligable()">
                    <h4>You cannot bid</h4>
                </div>
            </div>            
            <h4>Players: <span>{{nomError}}</span></h4>
            <div>
                    <div class="dropdown dropfilter">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        Position: {{filters.position}}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" ng-click="filters.position = ''"><a dropdown-toggle>All</a></li>
                        <li role="presentation" ng-click="filters.position = 'QB'"><a dropdown-toggle>QB</a></li>
                        <li role="presentation" ng-click="filters.position = 'WR'"><a dropdown-toggle>WR</a></li>
                        <li role="presentation" ng-click="filters.position = 'RB'"><a dropdown-toggle>RB</a></li>
                        <li role="presentation" ng-click="filters.position = 'TE'"><a dropdown-toggle>TE</a></li>
                        <li role="presentation" ng-click="filters.position = 'K'"><a dropdown-toggle>K</a></li>
                        <li role="presentation" ng-click="filters.position = 'DF'"><a dropdown-toggle>DF</a></li>
                      </ul>
                    </div>                        
                    <div class="dropdown dropfilter">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                        Availability: {{availableString}}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" ng-click="changeAvailable(1)"><a dropdown-toggle>All</a></li>
                        <li role="presentation" ng-click="changeAvailable(2)"><a dropdown-toggle>Available</a></li>
                        <li role="presentation" ng-click="changeAvailable(3)"><a dropdown-toggle>Unavailable</a></li>
                      </ul>
                    </div>
                    <input ng-model="query" />              
            </div>
            <div ng-class="{true: 'draftPlayersSmall', false: 'draftPlayers'}[bids[0].auctionDraft]">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                       <tr>
                            <th ng-show="rookieBool()">
                                Draft Rookie
                            </th>
                            <th ng-show="nomBool()">
                                Nominate
                            </th>                       
                            <th ng-show="snakeBool()">
                                Draft Player
                            </th>
                            <th>
                                <b>Position</b>
                            </th>
                            <th>
                                <b>Name</b>
                            </th>
                            <th>
                                <b>Rank</b>
                            </th>
                            <th>
                                <b>Bye Week</b>
                            </th>
                       </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in players | orderBy:rank | filter: listFilter(filters.position, filters.available) | filter:query" ng-show="rookieDraftBool(player.rookie)">
                            <td ng-show="nomBool()"><button ng-show="player.available" type="button" class="btn btn-default" ng-Click="nominate(player._id, player.available)">Nominate</button></td>
                            <td ng-show="rookieBool()"><button ng-show="rookieButtonBool(player.rookie, player.available)" type="button" class="btn btn-default" ng-Click="draftRookie(player._id, player.available)">Draft</button></td>
                            <td ng-show="snakeBool()"><button ng-show="player.available" type="button" class="btn btn-default" ng-Click="draftSnake(player._id, player.available)">Draft</button></td>
                            <td>{{player.position}}</td>
                            <td>{{player.name}}</td>
                            <td>{{player.startRank.absRank[1]}} ({{player.position}}{{player.startRank.posRank[1]}})</td>
                            <td>{{player.byeWeek[1]}}</td>
            <!--
                            <td>{{player.endRank.absRank[0]}} ({{player.position}}{{player.endRank.posRank[0]}})</td>
                            <td>{{player.contractYear}}</td>
            -->                
                        </tr>
                    </tbody>
                </table>                
            </div>
          
            
       
	    </div>
	    <div class="col-md-5 team">
            <div>
               <div class="row">
                   <div class="col-md-6">
                       <h4>{{displayOwner.name}}</h4>    
                   </div>
                   <div class="col-md-6">
                       <h5>Available Cap: {{capCalulate(displayOwner) | currency}}</h5>
                       <h5>Available Roster Spots: {{22-totalPlayers(displayOwner)}}</h5>
                   </div>
               </div>
                
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                       <tr>
                            <th>
                                <b>Name</b>
                            </th>
                            <th>
                                <b>Salary</b>
                            </th>
                            <th>
                                <b>Contract Year</b>
                            </th>               
                            <th>
                                <b>Bye Week</b>
                            </th>
                       </tr>
                    </thead>
                    <tbody ng-repeat="positionType in displayOwner.paidPlayer | orderBy:ownerPositionList">
                        <tr>
                            <td colspan="5" class="positionRow"><span class="positionHeader">{{positionType.name}}</span> ({{positionType.roster.length}} Players)</td>                        
                        </tr>
                        <tr ng-repeat="paidPlayer in positionType.roster">
                            <td>{{paidPlayer.name}} ({{paidPlayer.team}}) {{paidPlayer.startRank.absRank[1]}} ({{paidPlayer.position}}{{paidPlayer.startRank.posRank[1]}})</td>
                            <td>{{paidPlayer.price[1] | currency}}</td>
                            <td>{{paidPlayer.contractYear}}</td>
                            <td>{{paidPlayer.byeWeek[1]}}</td>      
                        </tr>
                    </tbody>
                </table>                    
            </div>            
	    </div>
	</div>
  <div class="row">
<!--
     <div class="col-md-1" ng-repeat="owner in owners">
                  {{owner.name}}<br/>
                  Cap: {{capCalulate(owner) | currency}}<br/>
                  Spots: {{totalPlayers(owner)}}           
     </div>
-->
    <h4>View User</h4>
     <div id="ownerCheck">
          <table class="table table-striped table-bordered table-hover">
              <tr>
                  <td ng-repeat="owner in owners | orderBy:endRank:true" ng-click="changeUser(owner)" ng-class="{true: 'drafting', false: 'notDrafting'}[drafting(owner)]">
                      {{owner.name}}<br/>
                      Cap: {{capCalulate(owner) | currency}}<br/>
                      Spots: {{totalPlayers(owner)}}
                      <span ng-show="drafting(owner)"><br/><br/>Drafting</span>
                  </td>
              </tr>
          </table>         
     </div>
  </div>
      {{bids}}

  
   <h4>Chat</h4>
    <div class="chatRm">                
      <div class="chat">
         <span  ng-repeat="msg in msgs"><b>{{msg.user}}:</b> {{msg.msg}}<br/><br/></span>          
      </div>       
        <input ng-model="newMsg" /><button class="btn btn-default" ng-Click="sendMsg()">Chat</button>
    </div>	        
	
	
	
</section>