<section data-ng-controller="TradeController" data-ng-init="find()">
       <div class="row trade-table">
           <div class="col-md-6">
                <table class="table table-striped table-bordered table-hover">
                   <thead>
                        <tr>
                            <th>
                                <b>Owner</b>
                            </th>
                            <th>
                                <b>Players on <br/>contract</b>
                            </th>
                            <th>
                                <b>Salary</b>
                            </th>
                            <th>
                                <b>QB</b>
                            </th>
                            <th>
                                <b>RB</b>
                            </th>
                            <th>
                                <b>WR</b>
                            </th>
                            <th>
                                <b>TE</b>
                            </th>
                            <th>
                                <b>K</b>
                            </th>
                            <th>
                                <b>D</b>
                            </th>
                        </tr>           
                   </thead>
                   <tbody>               
                        <tr ng-repeat="owner in owners | orderBy:endRank" ng-click="selectUser1(owner)">
                            <td><b>{{owner.name}}</b></td>
                            <td>{{totalPlayers(owner)}}</td>
                            <td>{{totalSalary(owner) | currency}}</td>
                            <td ng-bind="{{numPosition('QB', owner)}}"></td>
                            <td ng-bind="{{numPosition('RB', owner)}}"></td>
                            <td ng-bind="{{numPosition('WR', owner)}}"></td>
                            <td ng-bind="{{numPosition('TE', owner)}}"></td>
                            <td ng-bind="{{numPosition('K', owner)}}"></td>
                            <td ng-bind="{{numPosition('DF', owner)}}"></td>
                        </tr>           
                   </tbody>
                </table>               
           </div>
           <div class="col-md-6">
                <table class="table table-striped table-bordered table-hover">
                   <thead>
                        <tr>
                            <th>
                                <b>Owner</b>
                            </th>
                            <th>
                                <b>Players on <br/>contract</b>
                            </th>
                            <th>
                                <b>Salary</b>
                            </th>
                            <th>
                                <b>QB</b>
                            </th>
                            <th>
                                <b>RB</b>
                            </th>
                            <th>
                                <b>WR</b>
                            </th>
                            <th>
                                <b>TE</b>
                            </th>
                            <th>
                                <b>K</b>
                            </th>
                            <th>
                                <b>D</b>
                            </th>
                        </tr>           
                   </thead>
                   <tbody>               
                        <tr ng-repeat="owner in owners | orderBy:endRank" ng-click="selectUser2(owner)">
                            <td><b>{{owner.name}}</b></td>
                            <td>{{totalPlayers(owner)}}</td>
                            <td>{{totalSalary(owner) | currency}}</td>
                            <td ng-bind="{{numPosition('QB', owner)}}"></td>
                            <td ng-bind="{{numPosition('RB', owner)}}"></td>
                            <td ng-bind="{{numPosition('WR', owner)}}"></td>
                            <td ng-bind="{{numPosition('TE', owner)}}"></td>
                            <td ng-bind="{{numPosition('K', owner)}}"></td>
                            <td ng-bind="{{numPosition('DF', owner)}}"></td>
                        </tr>           
                   </tbody>
                </table>               
           </div>           
       </div>

        <div class="row">
            <div class="col-md-6">
                <h4>{{owner1.name}}</h4>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                       <tr>
                            <th>
                                <b>Name</b>
                            </th>
                            <th>
                                <b>Salary</b>
                            </th>
                       </tr>
                    </thead>
                    <tbody ng-repeat="positionType in owner1.paidPlayer | orderBy:positionList">
                        <tr>
                            <td colspan="7" class="positionRow"><span class="positionHeader">{{positionType.name}}</span></td>                        
                        </tr>
                        <tr ng-repeat="paidPlayer in positionType.roster">
                            <td>{{paidPlayer.name}}</td>
                            <td>{{paidPlayer.price[1] | currency}}</td>               
                        </tr>
                    </tbody>
                </table>                    
            </div>
            <div class="col-md-6">
               <h4>{{owner2.name}}</h4>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                       <tr>
                            <th>
                                <b>Name</b>
                            </th>
                            <th>
                                <b>Salary</b>
                            </th>
                       </tr>
                    </thead>
                    <tbody ng-repeat="positionType in owner2.paidPlayer | orderBy:positionList">
                        <tr>
                            <td colspan="7" class="positionRow"><span class="positionHeader">{{positionType.name}}</span></td>                        
                        </tr>
                        <tr ng-repeat="paidPlayer in positionType.roster">
                            <td>{{paidPlayer.name}}</td>
                            <td>{{paidPlayer.price[1] | currency}}</td>               
                        </tr>
                    </tbody>
                </table>                    
            </div>            
        </div>

</section>