<section data-ng-controller="AllplayersController" data-ng-init="find()">
    
    <div class="row">
        <div class="col-md-7">
            <h3>Players</h3>        
        </div>
        <div class="col-md-5">
            <h4>Filters</h4>
                <div class="dropdown dropfilter">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Position: {{filters.position}}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" ng-click="filters.position = ''"><a dropdown-toggle>All</a></li>
                    <li role="presentation" ng-click="filters.position = 'QB'"><a dropdown-toggle>QB</a></li>
                    <li role="presentation" ng-click="filters.position = 'WR'"><a dropdown-toggle>WR</a></li>
                    <li role="presentation" ng-click="filters.position = 'RB'"><a dropdown-toggle>RB</a></li>
                    <li role="presentation" ng-click="filters.position = 'TE'"><a dropdown-toggle>TE</a></li>
                    <li role="presentation" ng-click="filters.position = 'K'"><a dropdown-toggle>K</a></li>
                    <li role="presentation" ng-click="filters.position = 'DF'"><a dropdown-toggle>DF</a></li>
                  </ul>
                </div>                        
                <div class="dropdown dropfilter">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                    Availability: {{availableString}}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" ng-click="changeAvailable(1)"><a dropdown-toggle>All</a></li>
                    <li role="presentation" ng-click="changeAvailable(2)"><a dropdown-toggle>Available</a></li>
                    <li role="presentation" ng-click="changeAvailable(3)"><a dropdown-toggle>Unavailable</a></li>
                  </ul>
                </div>                                                       
        </div>
    </div>    
    
    <table class="table table-striped table-bordered table-hover">
        <thead>
           <tr>
                <th>Add to<br/>Watchlist</th>
                <th>
                    <b>Position</b>
                </th>
                <th>
                    <b>Name</b>
                </th>
                <th>
                    <b>Rank</b>
                </th>
                <th>
                    <b>Bye Week</b>
                </th>
                <th>
                    <b>2013 Owner</b>
                </th>
                <th>
                    <b>Price</b>
                </th>                               
           </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in players | orderBy:rank | filter: listFilter(filters.position, filters.available)">
                <td><button type="button" class="btn btn-default">Watch</button></td>
                <td>{{player.position}}</td>
                <td>{{player.name}}</td>
                <td>{{player.startRank.absRank[1]}} ({{player.position}}{{player.startRank.posRank[1]}})</td>
                <td>{{player.byeWeek[1]}}</td>
                <td>{{player.owner.name}}</td>
                <td>{{player.price[1] | currency}}</td>                
<!--
                <td>{{player.endRank.absRank[0]}} ({{player.position}}{{player.endRank.posRank[0]}})</td>
                <td>{{player.contractYear}}</td>
-->                
            </tr>
        </tbody>
    </table>          
     
</section>