<section data-ng-controller="PlayersController" data-ng-init="findOne()">
    <div class="page-header">
        <h3>Edit Player</h3>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <table class="table table-striped table-bordered">
               <thead>
                   <tr>
                       <td>Name</td>
                       <td>Id</td>
                   </tr>
               </thead>
                <tr>
                    <td>KevinQuencer</td>
                    <td>53b9dac03391bfbf8a2e3e36</td>
                </tr>
                <tr>
                    <td>MichaelRamos</td>
                    <td>53b9dac03391bfbf8a2e3dfe</td>
                </tr>
                <tr>
                    <td>GregFlowers</td>
                    <td>53b9dac03391bfbf8a2e3e2f</td>
                </tr>
                <tr>
                    <td>MichaelHong</td>
                    <td>53b9dac03391bfbf8a2e3e05</td>
                </tr>
                <tr>
                    <td>MarkHansberger</td>
                    <td>53b9dac03391bfbf8a2e3e21</td>
                </tr>
                <tr>
                    <td>JessicaDorn</td>
                    <td>53b9dac03391bfbf8a2e3e1a</td>
                </tr>
                <tr>
                    <td>NishNarenchania</td>
                    <td>53b9dac03391bfbf8a2e3e3d</td>
                </tr>
                <tr>
                    <td>DavidMilliner</td>
                    <td>53b9dac03391bfbf8a2e3e44</td>
                </tr>
                <tr>
                    <td>RossBramlet</td>
                    <td>53b9dac03391bfbf8a2e3e4b</td>
                </tr>
                <tr>
                    <td>ChristinaKang</td>
                    <td>53b9dac03391bfbf8a2e3e0c</td>
                </tr>
                <tr>
                    <td>GiovanniPindilli</td>
                    <td>53b9dac03391bfbf8a2e3e13</td>
                </tr>
                <tr>
                    <td>FrederickGriefer</td>
                    <td>53b9dac03391bfbf8a2e3e28</td>
                </tr>
            </table>            
        </div>
        <div class="col-md-8">
            <form class="form-horizontal" data-ng-submit="update()" novalidate>
                <fieldset>
                    <div class="form-group">
                        <h3>{{player.name}}</h3>
                        <div class="controls">
    <!--                        <input type="text" data-ng-model="player.name" id="name" class="form-control" placeholder="Name" required>-->
                            Team: <input type="text" data-ng-model="player.team" id="name" class="form-control" required>
                            bye Week: <input type="text" data-ng-model="player.byeWeek[1]" id="byeWeek" class="form-control" placeholder="0" required>
                            2014 Price: <input type="text" data-ng-model="player.price[1]" id="price" class="form-control" placeholder="0" required>
                            Available: <input type="text" data-ng-model="player.available" id="available" class="form-control" required>
                            Unavailable: <input type="text" data-ng-model="player.unavailable" id="unavailable" class="form-control" required>
                            OwnerId: {{player.ownerId}}<br/>
                            Owner Name: {{player.owner.name}}<br/>
                            Owner: <input type="text" data-ng-model="player.owner" id="owner" class="form-control" required>
                            Contract Year: <input type="text" data-ng-model="player.contractYear" id="contractYear" class="form-control" required>                
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-default">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>            
        </div>
    </div>

</section>